.cabecalho {
    background-color:#02af77;
}

.titulo__cabecalho{
    color:  #eedd63;
    font-family: Pacifico, cursive;
    font-size: 3rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0,75);
    text-align: center;
    padding: 0.75rem;
    margin: 0 0 18px 0;
    width: 100%;
    max-width: 360px;
    border-bottom:1px solid #103D4A;
    
}
.cabecalho {
    padding: 1.20rem;
    margin: 0 0 10px 0 ;

}
.lista__cabecalho{    
    display:flex;
    justify-content:space-around;   
    
}

.link__cabecalho{
    margin: 1.75rem;
    padding-top: 1rem;
    font-size: 0.75rem;
}


/* funciona somente para Desktop*/
li .link__cabecalho:hover{
    color:#eff5f7;
    text-decoration: underline;
}

.link__cabecalho:active{
    border-color: #7FFFD4;
}
 
/* .link__cabecalho{
    margin-right: 1.75rem;

}  */



   