body{
    background-color:#eedd63;
}
.titulo__principal{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 35px;
    padding: 22px 0 10px 0;
    margin: 18px 0 10px 0;
    
}

.subtitulo__principal{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.45rem;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    margin: 20px 0 20px 0;
    padding: 1rem 0  0.75rem 0;
}
.texto__principal {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.15rem;
    line-height: 1.50rem;
}

.video {
    margin: 20px 0 20px 0;
    padding: 15px 0 16px 0;
    width:600px;
    height: 100%;
    max-width: 360px;
}